.parallax {
    /* The image used */
    background-image: url("bir.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .asd {
    /* The image used */
    background-image: url("bir.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  


  
  .parallax_bg {
    background: url(assets/img/corinne-kutz-211251.jpg);
    background-size: cover;
    height: 100%;
    min-height: 100%;
    overflow: auto;
  }
  
  .parallax {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .parallax_text > p {
    font-size: 20px;
  }
  
  .parallax_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  
  


  
  .full-width {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    width: calc(100vw - 0px);
    margin-left: calc(-50vw - 2px);
    left: 50%;
   }



   .fixed-bg {
    /*min-height: 100%;*/
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repet;
    background-position: center center;
    height: 100vh; 
    color: #fff;
    /*to vertically align the content inside, a definite height should be set on the parent. min-height doesn't work.*/
  }
  
  .parent-vcenter {
    text-align: center;
  }
  
   /*ghost element for vertical centering*/
  .parent-vcenter:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /*adjusts for spacing*/
  }
  
  /*content to be vertically centered*/
  .child-vcenter {
    /*vertically center*/
    display: inline-block;
    vertical-align: middle;
  }
  
  .fixed-bg.bg-1 {
    background-image: url("bir.jpeg");
  }
  
  

  